
/*------------ CSS styles for Sunburst chart --------------*/
.sunBurstSection {
    transition: 0.7s;
}

.sunBurstSection:hover{
   fill-opacity:0.6;
}

.sunBurstSection path:active{
     transform: scale(0.99);
}

.sunBurstSectionText {
    pointer-events: none;
    font-size: 12px;
}

#sunburstDiv{
     display: block;
     margin:0 auto;
}


/*---------------- CSS Styles for the information display divs----------------*/
#sunburstSpeciesDiv{
    text-align:center;
    font-size: 1.6em;
    height: 100px;
}

#sunburstSpeciesDiv div{
   margin: 10px 0;
}



/*---------------- CSS Styles for the Table --------------*/
#treetable{
    width: 100%;
    background-color: #f6f6f6;
}

#treetable tbody td, #treetable tbody th{
     border: 1px solid #ccc;
     padding-top: 6px;
     padding-bottom: 6px;
}

#treetable th{
     background-color: #d7d7d7;
     padding-top: 8px;
     padding-bottom: 8px;
}


#treetable caption{
    font-weight: bold;
    font-size: 1.4em;
    line-height:3em;
    text-align: center;
}

#treetable th, #treetable tfoot td{
   font-weight:bold;
}

#treetable tr td, #treetable tr th {
   padding-left: 10px;
   padding-right: 10px;

}

.td-align-right{
   text-align:right;
}
#treetable tfoot {
    background-color: white;
}
#treetable tfoot td {
    padding-top:1em;
    text-align: right;
}


